* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #09d3ac;
  text-decoration: none;
}
.btn {
  background: #555;
  color: #fff;
  border: none;
  padding: 7px 20px;
  cursor: pointer;
}
